<h3>Update Recipe</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" id="title" required [(ngModel)]="recipe.title" name="title">
        </div>
    
        <div class="form-group">
          <label for="name">Cost</label>
          <input type="text" class="form-control" id="cost" required [(ngModel)]="recipe.cost" name="cost">
        </div>
    
        <div class="form-group">
          <div class = "form-control">
          <label class="checkbox-inline">Contains Peanut</label>
          <input type="checkbox"  id="containsPeanut" required [(ngModel)]="recipe.containsPeanut" name="containsPeanut">
          </div>
        </div>
    
        <div class="form-group">
            <div class = "form-control">
            <label class="checkbox-inline">Contains Gluten</label>
            <input type="checkbox"  id="containsGluten" required [(ngModel)]="recipe.containsGluten" name="containsGluten">
            </div>
          </div>
    
        <div class="form-group">
          <label for="name">Ingredients</label>
           <!-- Added code here to change the type to a textarea  -->
           <!-- <textarea cols="50" rows="5" (input)="recipe.ingredients = $event.target.value"></textarea>  -->
           <input type="text" class="form-control" id="ingredients" required [(ngModel)]="recipe.ingredients" name="ingredients">
           <!--<textArea [(ngModel)]="recipe.ingredients" rows="3" cols="60" required> </textArea> -->
        </div>
    
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>
